
body {
    font-family: helvetica;
    color: blue;
}

#question {
    border: solid black 2px;
}

#answers {
    
}

input {
    display: block;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 20%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 5px;
    
    font-size: 20px;
   
    width: 30%;
    text-align: center;
}

.modal-title {
    padding-bottom: 20px;
    border: 1px solid #888;
}

.in-modal {
    display: inline;
    text-align: center;
    margin: auto;
    background-color: paleturquoise;
}

.modal-select {
    height: 20px;
    width: 130px;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    border-radius: 40%;
    background-color: paleturquoise;
    border: none;
    outline: none;
    color: #27292d;
    font-weight: bold;
}

/*
#question-box{
    border-style: solid;
    text-align: center;
}

#age-sex{
    margin:0 auto;
}

#question-box{
    width: 50%;
    margin: 0 auto;
}

#question-text{
    margin: auto;
    text-align: center;
    width: 50%;
}
*/

#screen{
    display: block;
    height: 40%;
    border-style: solid;
}
#gif{
    height: 15%;
    border-style: solid;
}
#interact{
    height: 45%;
    overflow: auto;
}
#user-info{
    display: inline;
    width: 20%;
    float: left;
    border-style: solid;
}
#q-a{
    display: inline;
    width: 75%;
    float: right;
    border-style: solid;
}
